@mixin box-sizing($arg) {
  -webkit-box-sizing: $arg;
  -moz-box-sizing: $arg;
  -o-box-sizing: $arg;
  box-sizing: $arg;
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-transition: $args;
  -o-transition: $args;
  animation: $args;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin linear-gradient($direction, $colours...) {
  background: -webkit-linear-gradient($direction, $colours);
  background: -moz-linear-gradient($direction, $colours);
  background: -o-linear-gradient($direction, $colours);
  background: linear-gradient($direction, $colours);
}

@mixin background-size($args) {
  -webkit-background-size: $args;
  -moz-background-size: $args;
  -o-background-size: $args;
  background-size: $args;
}

@mixin background-clip($args) {
  -webkit-background-clip: $args;
  -moz-background-clip: $args;
  -o-background-clip: $args;
  background-clip: $args;
}

@mixin background-origin($args) {
  -webkit-background-origin: $args;
  -moz-background-origin: $args;
  -o-background-origin: $args;
  background-origin: $args;
}

@mixin calc($prop, $exp) {
  #{$prop}: -webkit-calc(#{$exp});
  #{$prop}: -moz-calc(#{$exp});
  #{$prop}: -o-calc(#{$exp});
  #{$prop}: calc(#{$exp});
}

@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  transform: $args;
}

