@import 'mixins';

$widgetTop: 100px;
$widgetHeight: 440px;
$widgetWidth: 400px;
$transcriptBoxHeight: 230px;
$collapsedWidth: 50px;
$collapsedHeight: 100px;
$collapseBarWidth: 30px;
$collapseBarHeight: 440px;

$widgetBorderRadius: 8px;
$widgetBorderColour: rgb(50, 50, 50);
$widgetTextColour: rgb(50, 50, 50);

$collapseBarColour: white;
$collapseBarBorderColour: rgb(50, 50, 50);
$collapseBarHoverColour: rgb(240, 255, 240);
$collapsedWidgetColour: white;
$collapsedWidgetHoverColour: rgb(240, 255, 240);
$alertColour: rgb(220, 120, 120);

$expandedWidgetColour: white;

$transcriptDeactivatedColour: rgba(255, 255, 255, 0.85);
$transcriptBoxColour: rgb(250, 250, 250);
$chatDisconnectedMsgColour: rgb(50, 50, 50);
$noAgentsMsgColour: rgb(50, 50, 50);
$timestampColour: rgb(50, 50, 50);
$visitorNameColour: rgb(50, 50, 50);
$agentNameColour: rgb(50, 50, 50);
$visitorMsgColour: rgb(50, 200, 50);
$agentMsgColour: rgb(200, 50, 200);
$statusChangeColour: rgb(50, 50, 50);
$timestampSize: 0.7em;
$nameSize: 0.7em;

$noAgentsBackgroundColour: rgba(255, 255, 255, 0.85);

$labelColour: rgb(50, 50, 50);

.jl-vertical-text {
  @include transform(rotate(90deg));
}

.jl-widget-wrap {
  position: fixed;
  right: 0;
  top: $widgetTop;
  border-top-left-radius: $widgetBorderRadius;
  border-bottom-left-radius: $widgetBorderRadius;
  z-index: 9;
  font-family: Helvetica;
  font-size: 16px;
  color: $widgetTextColour;

  .jl-collapse-bar {
    @include box-sizing(border-box);
    position: relative;
    background-color: $collapseBarColour;
    float: left;
    top: $widgetHeight - $collapseBarHeight;
    height: $collapseBarHeight;
    width: $collapseBarWidth;
    border-left: $collapseBarBorderColour 1px solid;
    border-top: $collapseBarBorderColour 1px solid;
    border-bottom: $collapseBarBorderColour 1px solid;
    border-top-left-radius: $widgetBorderRadius;
    border-bottom-left-radius: $widgetBorderRadius;
    cursor: pointer;

    &:hover {
      background-color: $collapseBarHoverColour;
    }
  }

  &.jl-collapsed {

  }

  .jl-widget-collapsed {
    @include box-sizing(border-box);
    position: relative;
    top: $widgetHeight - $collapsedHeight;
    width: $collapsedWidth;
    height: $collapsedHeight;
    background-color: $collapsedWidgetColour;
    border: $widgetBorderColour 1px solid;
    border-top-left-radius: $widgetBorderRadius;
    border-bottom-left-radius: $widgetBorderRadius;
    @include box-shadow(-5px 5px 3px -2px rgba(0,0,0,0.50));
    cursor: pointer;

    &:hover {
      background-color: $collapsedWidgetHoverColour;
    }

    .jl-logo {
      position: absolute;
      top: 10px;
      width: 80%;
      height: $collapsedWidth * 0.8;
      left: 10%;
      background-image: url("../img/jloop.svg"); /* TODO: Path to public server */
      background-repeat: no-repeat;
      @include background-size(contain);
    }

    .jl-live-chat {
      text-transform: lowercase;
      position: absolute;
      bottom: 5px;
      text-align: center;
    }
  }

  &.jl-expanded {
    @include box-shadow(-5px 5px 3px -2px rgba(0,0,0,0.50));
  }

  .jl-widget-expanded {
    .jl-powered-by {
      position: absolute;
      bottom: 4px;
      left: 5px;
      font-size: 0.7em;
      color: rgb(50, 50, 50);
      font-weight: normal;

      a {
        text-decoration: none;
      }
    }

    .jl-no-agents {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $noAgentsBackgroundColour;
      font-size: 1.2em;
      font-weight: bold;
      color: $noAgentsMsgColour;

      .jl-no-agents-msg {
        display: block;
        position: relative;
        top: 40%;
        width: 90%;
        margin-right: 10%;
        text-align: right;
      }
    }

    @include box-sizing(border-box);
    position: relative;
    float: right;
    width: $widgetWidth - $collapseBarWidth - 2px;
    height: $widgetHeight;
    padding: 10px 5px 0 5px;
    background-color: $expandedWidgetColour;
    border: $widgetBorderColour 1px solid;

    .jl-label {
      float: left;
      font-weight: bold;
      margin-right: 10px;
      line-height: 30px;
      color: $labelColour;
    }

    .jl-input-wrap {
      overflow: hidden;
    }

    .jl-name-field {
      overflow: hidden;

      .jl-txt-name {
        @include box-sizing(border-box);
        width: 100%;
        height: 30px;
      }
    }

    .jl-message-form >textarea {
      @include box-sizing(border-box);
      width: 100%;
      height: 70px;
    }

    .jl-transcript-box-wrap {
      position: relative;
      width: 100%;
      height: $transcriptBoxHeight;
      margin: 5px 0 5px 0;
      overflow: hidden;

      .jl-transcript-box {
        @include box-sizing(border-box);
        position: absolute;
        top: 0;
        background-color: $transcriptBoxColour;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 0 5px 0 5px;

        .jl-transcript-element {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;

          &.jl-agent {
            text-align: right;
          }

          .jl-timestamp {
            color: $timestampColour;
            font-size: $timestampSize;
          }

          .jl-visitor-name {
            color: $visitorNameColour;
            font-size: $nameSize;
          }

          .jl-agent-name {
            color: $agentNameColour;
            font-size: $nameSize;
          }

          .jl-visitor-msg {
            color: $visitorMsgColour;
          }

          .jl-agent-msg {
            color: $agentMsgColour;
          }

          .jl-visitor-status-change, .jl-agent-status-change {
            color: $statusChangeColour;
          }
        }
      }

      .jl-cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: $transcriptDeactivatedColour;
        font-size: 1.2em;
        font-weight: bold;
        color: $chatDisconnectedMsgColour;
        visibility: hidden;

        span {
          display: block;
          position: relative;
          top: 40%;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.jl-disconnected > .jl-cover {
        visibility: visible;
      }
    }
  }

  .jl-alert {
    @include animation(jl-alert 4s linear infinite);
  }

  @include keyframes(jl-alert) {
    0%, 100% {
      background: $collapsedWidgetColour;
    }
    50% {
      background: $alertColour;
    }
  };
}

