.jl-transcript {
  height: 200px;
  width: 400px;
  background-color: lightGray;
}

.jl-txt-message {
  heigth: 80px;
  width: 400px;
}

.jl-timestamp {
  color: tomato;
}

.jl-visitor-message {

}

.jl-agent-message {

}

.jl-visitor-name {
  color: green;
}

.jl-agent-name {
  color: teal;
}
