@import 'mixins';

$widgetTop: 50px;
$widgetHeight: 420px;
$widgetWidth: 400px;
$transcriptBoxHeight: 250px;
$collapsedWidth: 50px;
$collapseBarWidth: 30px;

$widgetBorderRadius: 8px;
$widgetBorderColour: rgb(50, 50, 50);
$collapseBarBorderColour: rgb(50, 50, 50);
$transcriptBoxColour: rgb(250, 250, 250);
$expandedWidgetColour: white;
$collapseBarColour: white;
$collapsedWidgetColour: white;
$transcriptDeactivatedColour: rgba(255, 255, 255, 0.85);
$chatDisconnectedMsgColour: rgb(50, 50, 50);
$noAgentsBackgroundColour: rgba(255, 255, 255, 0.85);
$noAgentsMsgColour: rgb(50, 50, 50);
$alertColour: rgb(220, 120, 120);
$labelColour: rgb(50, 50, 50);
$timestampColour: rgb(50, 50, 50);
$visitorNameColour: rgb(50, 50, 50);
$agentNameColour: rgb(50, 50, 50);
$visitorMsgColour: rgb(50, 200, 50);
$agentMsgColour: rgb(200, 50, 200);
$statusChangeColour: rgb(50, 50, 50);
$timestampSize: 0.7em;
$nameSize: 0.7em;

.widget-wrap {
  position: fixed;
  right: 0;
  top: $widgetTop;

  .collapse-bar {
    @include box-sizing(border-box);
    position: relative;
    background-color: $collapseBarColour;
    float: left;
    height: $widgetHeight;
    width: $collapseBarWidth;
    border: $collapseBarBorderColour 1px solid;
    border-top-left-radius: $widgetBorderRadius;
    border-bottom-left-radius: $widgetBorderRadius;
  }

  .collapsed {
    @include box-sizing(border-box);
    position: relative;
    width: $collapsedWidth;
    height: $widgetHeight;
    background-color: $collapsedWidgetColour;
    border: $widgetBorderColour 1px solid;
    border-top-left-radius: $widgetBorderRadius;
    border-bottom-left-radius: $widgetBorderRadius;
  }

  .expanded {
    .no-agents {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $noAgentsBackgroundColour;
      font-size: 1.2em;
      font-weight: bold;
      color: $noAgentsMsgColour;

      span {
        display: block;
        position: relative;
        top: 40%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include box-sizing(border-box);
    position: relative;
    float: right;
    width: $widgetWidth - $collapseBarWidth - 2px;
    height: $widgetHeight;
    padding: 10px 5px 0 5px;
    background-color: $expandedWidgetColour;
    border: $widgetBorderColour 1px solid;

    .label {
      float: left;
      font-weight: bold;
      margin-right: 10px;
      line-height: 29px;
      color: $labelColour;
    }

    .input-wrap {
      overflow: hidden;
    }

    .name-field {
      overflow: hidden;

      .txt-name {
        @include box-sizing(border-box);
        width: 100%;
      }
    }

    .message-form >textarea {
      @include box-sizing(border-box);
      width: 100%;
    }

    .transcript-box-wrap {
      position: relative;
      width: 100%;
      height: $transcriptBoxHeight;
      margin: 5px 0 5px 0;
      overflow: hidden;

      .transcript-box {
        @include box-sizing(border-box);
        position: absolute;
        top: 0;
        background-color: $transcriptBoxColour;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 0 5px 0 5px;

        .transcript-element {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;

          &.agent {
            text-align: right;
          }

          .timestamp {
            color: $timestampColour;
            font-size: $timestampSize;
          }

          .visitor-name {
            color: $visitorNameColour;
            font-size: $nameSize;
          }

          .agent-name {
            color: $agentNameColour;
            font-size: $nameSize;
          }

          .visitor-msg {
            color: $visitorMsgColour;
          }

          .agent-msg {
            color: $agentMsgColour;
          }

          .visitor-status-change, .agent-status-change {
            color: $statusChangeColour;
          }
        }
      }

      .cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: $transcriptDeactivatedColour;
        font-size: 1.2em;
        font-weight: bold;
        color: $chatDisconnectedMsgColour;
        visibility: hidden;

        span {
          display: block;
          position: relative;
          top: 40%;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.disconnected > .cover {
        visibility: visible;
      }
    }
  }

  .alert {
    background-color: $alertColour;
  }
}

